@mixin normalize-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
}

button {
  @include normalize-button;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #067a9d;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: default;

  &.large {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1rem 2rem;
  }

  &:disabled {
    background-color: #51a2ba;
  }

  &:enabled:hover {
    background-color: #51a2ba;
    cursor: pointer;
  }

  &.inverted {
    background-color: #ffffff;
    color: #067a9d;

    &:disabled {
      background-color: #ffffff;
      color: #51a2ba;
    }

    &:enabled:hover {
      color: #ffffff;
    }
  }
}

.success {
  background-color: #008033;

  &:disabled {
    background-color: #72b98c;
  }

  &:enabled:hover {
    background-color: #004d1f;
  }

  &.inverted {
    background-color: #ffffff;
    color: #008033;

    &:disabled {
      background-color: #ffffff;
      color: #72b98c;
    }

    &:enabled:hover {
      color: #ffffff;
    }
  }
}

.danger {
  background-color: #cc0000;

  &:disabled {
    background-color: #eb9999;
  }

  &:enabled:hover {
    background-color: #7a0000;
  }

  &.inverted {
    background-color: #ffffff;
    color: #cc0000;

    &:disabled {
      background-color: #ffffff;
      color: #eb9999;
    }

    &:enabled:hover {
      color: #ffffff;
    }
  }
}

.rounded {
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5rem 1rem;
}
